@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216, 10%, 90%;
    --foreground: 225, 6%, 13%;

    --card: 216, 10%, 90%;
    --card-foreground: 225, 6%, 13%;

    --popover: 220, 13%, 95%;
    --popover-foreground: 225, 6%, 13%;

    --primary: 225, 6%, 13%;
    --primary-foreground: 216, 10%, 90%;

    --secondary: 216, 10%, 90%;
    --secondary-foreground: 225, 6%, 13%;

    --muted: 216, 10%, 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 216, 10%, 90%;
    --accent-foreground: 225, 6%, 13%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 216, 10%, 90%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 225, 6%, 13%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 225, 6%, 13%;
    --foreground: 216, 10%, 90%;

    --card: 225, 6%, 13%;
    --card-foreground: 216, 10%, 90%;

    --popover: 220, 7%, 18%;
    --popover-foreground: 216, 10%, 90%;

    --primary: 216, 10%, 90%;
    --primary-foreground: 225, 6%, 13%;

    --secondary: 225, 6%, 13%;
    --secondary-foreground: 216, 10%, 90%;

    --muted: 225, 6%, 13%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 225, 6%, 13%;
    --accent-foreground: 216, 10%, 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 216, 10%, 90%;

    --border: 225, 6%, 13%;
    --input: 225, 6%, 13%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
box-sizing: border-box;
}